@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

header{
  font-family: 'Dosis' ;
  font-size: 4em;
  position: absolute;
  padding: 50px;
  z-index: 100;
}

.header_dropdown{
  position: absolute;
  z-index: 100;
  top: 150px;
  left: 50px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sakura {
  background-image: url('/images/cherryblossom.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
