@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

header{
  font-family: 'Dosis' ;
  font-size: 4em;
  position: absolute;
  padding: 50px;
  z-index: 100;
}

.header_dropdown{
  position: absolute;
  z-index: 100;
  top: 150px;
  left: 50px;
}

.navmobile{
  position: absolute;
  width: 256px;
  z-index: 100;
  top: 20px;
  left: 0px;
  font-size: 50%;
}

.ant-menu{ transition: all 0.5s ease; opacity: 1}
.ant-menu.hide{ display: none;}
.ant-menu-submenu-popup { display: none; }
.ant-menu-inline-collapsed-tooltip { display: none; }
.ant-menu-inline-collapsed{ opacity: 0; }
.ant-menu-sub.ant-menu-inline{background-color: pink; color: white;}

/* Icon 1 */

#nav-icon1{
  width: 30px;
  height: 22px;
  position: relative;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  /* background: #8a0744; */
  background: rgba(0, 0, 0, 0.65);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sakura {
  background-image: url('/images/cherryblossom.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

.mapboxgl-ctrl-top-right{
  z-index: 100 !important;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 425px) {
  header{
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    padding-top:10px;
  }
}